
<!DOCTYPE html>

<html>

<head>
	{% extends 'homepage.html' %}

    <meta charset="UTF-8">

    <title>书籍列表（测试用）</title>

</head>

<body>


	{% block base%}

    <hr>

    {% for book in books %}

      

        <h3>{{ book.full_title }}</h3>    

        <p>作者：{{ book.authors }}</p>
        <p><img src="{{ book.picture.url}}"  alt="" height="35%" width="18%"></p>
        <a href="{% url 'book_detail' book.pk %}">查看详情</a>

    {% empty %}

        <p>-- 暂无上架书籍，敬请期待 --</p>

    {% endfor %}

    {% endblock %}

</body>

</html>