<!DOCTYPE html>

<html>

<head>

    <meta charset="UTF-8">

     {% extends 'homepage.html' %}

    <title>搜索结果</title>

</head>

<body>


	{% block base%}

    <hr>
    {%if books %}

    {% for book in books %}

	<p><img src="{{ book.picture.url}}"  alt="" height="35%" width="18%"></p>

	<h3>{{ book.full_title }}</h3>
	
	<p>{{ book.authors }}</p>

         <a href="{% url 'book_detail' book.id %}">查看详情</a>

     {% endfor %}

    {% else %}
           {% for isbn in books_isbn %}
                  
		  <p><img src="{{ isbn.picture.url}}"  alt="" height="35%" width="18%"></p>
		  <h3>{{ isbn.full_title }}</h3>
		  <p>{{ isbn.authors }}</p>
                  <a href="{% url 'book_detail' isbn.id %}">查看详情</a>
 
           {% empty %} 

                <p>暂无上架书籍，</p>

                <a href="{% url 'create_new_book' %}"><p>点此上架</p></a>

           {% endfor %}

    {% endif %}
	{% endblock %}


</body>

</html>