<!DOCTYPE html>

<html>

<head>

    <meta charset="UTF-8">
    
    {% extends 'homepage.html' %}
    <title>{{ book_type.type_name }}</title>

</head>

<body>
    {% block base%}

     <h2>{{book_type.type_name}}</h2>

    <hr>

    {% for book in books %}

        <a href="{% url 'book_detail' book.id %}">

            <h3>{{ book.full_title }}</h3>    

        </a>

        <p>{{ book.ISBN_num }}</p>

    {% empty %}

        <p>-- 暂无上架书籍，敬请期待 --</p>

    {% endfor %}

    <p>一共有{{ books|length }}本书</p>
    {% endblock %}

</body>

</html>