
<html>

<head>

    <meta charset="UTF-8">
    {% extends 'homepage.html' %}

    <title>{{ book.title }}</title>

</head>
<style>
pre{font-size: 16px; font-family: "微软雅黑";}
</style>

<body>

{% block base%}
     <hr>
    <h3>{{ book.full_title }}</h3>
    <img src="{{ book.picture.url}}"  alt="" height="35%" width="18%">
    <p>作者：{{ book.authors }}</p>
    
    <p>ISBN编号：{{ book.ISBN_num }}</p>
    <p>出版商：{{ book.publisher }}</p>
    <p>原价：{{ book.original_price }}</p>

    <p>分类：

        <a href="{% url 'books_with_type' book.book_type.pk %}">

            {{ book.book_type }}

        </a>

    </p>
        <a href="{% url 'up_shelf' book.pk %}"><h3>点此上架此书</h3></a>

    <hr>

    <h3>此处为该书已上架信息</h3>
    
    {% for good in goods %}

	<pre>卖家：{{good.merchant}}      价格：{{ good.price }}    <a href="{% url 'good_detail' good.pk %}">点击查看更多</a></pre>
    
     
    {% empty %}

    <p>暂无卖家上架，敬请期待</p>
    
    {% endfor %}
     
	<pre>





	</pre>

	{% endblock %}


</body>

</html>