{% extends 'homepage.html' %}

{% block mainbody %}
<main role="main" class="col-md-10 ml-sm-auto px-2">
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="{{ good.picture_1.url}}" class="card-img" alt="">
      </div>
      {% if good.picture_2 %}
      <div class="col-md-2">
        <img src="{{ good.picture_2.url}}" class="card-img" alt="">
      </div>
      {% endif %}
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <p class="card-text">{{ good.book.full_title }}</p>
            <p class="card-text">原价：{{ good.book.original_price }}</p>
            <p class="card-text">价格：{{ good.price }}</p>
          </div>
        </div>
        <a href="{% url 'comment' good.pk %}" class="btn btn-primary btn-lg active" role="button"
          aria-pressed="true">联系卖家</a>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-header">
          商品详情
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">作者：{{ good.book.authors }}</li>
          <li class="list-group-item">ISBN编号：{{ good.book.ISBN_num }}</li>
          <li class="list-group-item">出版商：{{ good.book.publisher }}</li>
          <li class="list-group-item">分类：
            <a href="{% url 'books_with_type' good.book.book_type.pk %}">
              {{ good.book.book_type }} </a>
          </li>
          <li class="list-group-item">卖家：{{ good.merchant }} 已在该网站卖出{{ sell_count }}本书
            信用分为：{{credit_point}}</li>
          <li class="list-group-item">描述：{{ good.description}}</li>
        </ul>
      </div>
    </div>
  </div>
</main>
{% endblock %}