{% extends 'blank.html' %}

{% block title %}二手书交易平台 - 请登录{% endblock %}

{% block additional_script %}
{% endblock %}

{% block content %}
<body class="bg-light">
  <div class="row justify-content-center">
    <div class="col col-md-3">
      <h3 class="mt-5 text-center mb-4">您好，请登录</h3>
      <form class="needs-validation" action="{% url 'login' %}" method="POST" enctype="multipart/form-data" novalidate>
        <div class="form-group mb-4">
          <label for="inputUsername">用户名：</label>
          <input class="form-control" type="text" id="inputUsername" name="username" required autofocus>
        </div>
        <div class="form-group mb-4">
          <label for="inputPassword">密码：</label>
          <input class="form-control" type="password" id="inputPassword" name="password" required>
        </div>
        <button class="btn btn-lg btn-primary btn-block mb-3" type="submit">登录</button>
        <div class="row justify-content-around mb-5">
          <a class="btn btn-info my-3" role="button" href="{% url 'check_email' %}">忘记密码</a>
          <a class="btn btn-info my-3" role="button" href="{% url 'register' %}">没有账户？现在注册</a>
        </div>
        
        {% if messages %}
        <ul class="list-unstyled">
          {% for message in messages %}
          <li class="alert alert-{{ message.tags }} text-center my-3">{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}

      </form>
    </div>
  </div>
</body>
{% endblock %}
