{% extends 'blank.html' %}

{% block title %}二手书交易平台 - 用户注册{% endblock %}

{% block additional_script %}
{% endblock %}

{% block content %}
<body class="bg-light">
  <div class="row justify-content-center">
    <div class="col col-md-6">
      <h3 class="text-center mt-5 mb-3">新用户注册</h3>

      <form class="needs-validation" action="{% url 'register' %}" method="POST" enctype="multipart/form-data" novalidate>
        <div class="row">
          <div class="form-group col col-md-8 mb-4">
            <label for="{{ obj.username.id_for_label }}">{{ obj.username.label }}：</label>
            {{ obj.username }}
            {% if obj.errors.username.0 %}
            <div class="alert alert-danger" role="alert">
              {{ obj.errors.username.0 }}
            </div>
            {% endif %}
          </div>
          <div class="form-group col col-md-8 mb-4">
            <label for="{{ obj.password.id_for_label }}">{{ obj.password.label }}：</label>
            {{ obj.password }}
            {% if obj.errors.password.0 %}
            <div class="alert alert-danger" role="alert">
              {{ obj.errors.password.0 }}
            </div>
            {% endif %}
          </div>
          <div class="form-group col col-md-8 mb-4">
            <label for="{{ obj.re_password.id_for_label }}">{{ obj.re_password.label }}：</label>
            {{ obj.re_password }}
            {% if obj.errors.re_password.0 %}
            <div class="alert alert-danger" role="alert">
              {{ obj.errors.re_password.0 }}
            </div>
            {% endif %}
          </div>
          <div class="form-group col col-md-6 mb-4">
            <label for="{{ obj.email.id_for_label }}">{{ obj.email.label }}：</label>
            {{ obj.email }}
            {% if obj.errors.email.0 %}
            <div class="alert alert-danger" role="alert">
              {{ obj.errors.email.0 }}
            </div>
            {% endif %}
          </div>
          <div class="form-group col col-md-6 mb-4">
            <label for="{{ obj.phone.id_for_label }}">{{ obj.phone.label }}：</label>
            {{ obj.phone }}
            {% if obj.errors.phone.0 %}
            <div class="alert alert-danger" role="alert">
              {{ obj.errors.phone.0 }}
            </div>
            {% endif %}
          </div>
          <div class="form-group col col-md-6 mb-4">
            <label for="{{ obj.name.id_for_label }}">{{ obj.name.label }}：</label>
            {{ obj.name }}
            {% if obj.errors.name.0 %}
            <div class="alert alert-danger" role="alert">
              {{ obj.errors.name.0 }}
            </div>
            {% endif %}
          </div>
          <div class="form-group col col-md-6 mb-4">
            <label for="{{ obj.school_num.id_for_label }}">{{ obj.school_num.label }}：</label>
            {{ obj.school_num }}
            {% if obj.errors.username.0 %}
            <div class="alert alert-danger" role="alert">
              {{ obj.errors.username.0 }}
            </div>
            {% endif %}
          </div>
          <div class="form-group col col-md-6 mb-4">
            <label for="{{ obj.school.id_for_label }}">{{ obj.school.label }}：</label>
            {{ obj.school }}
          </div>
        </div>

        {% if messages %}
        <ul class="list-unstyled">
          {% for message in messages %}
          <li class="alert alert-{{ message.tags }} text-center my-3">{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}

        <button class="btn btn-lg btn-primary btn-block mt-4" type="submit">注册</button>
      </form>
    </div>
  </div>
</body>
{% endblock %}
