{% extends 'blank.html' %}

{% block title %}二手书交易平台 - 用户注册{% endblock %}

{% block additional_script %}
{% endblock %}

{% block content %}
<body class="bg-light">
  <div class="row justify-content-center">
    <div class="col col-md-6">
      <h3 class="text-center mt-5 mb-3">新用户注册</h3>

      <form class="needs-validation" action="{% url 'register' %}" method="POST" enctype="multipart/form-data" novalidate>
        <div class="row">
          <div class="form-group col col-md-8 mb-4">
            <label for="inputUsername">用户名：{{ obj.username }}</label>
            {% if obj.errors.username.0 %}
            <div class="alert alert-danger" role="alert">
              {{ obj.errors.username.0 }}
            </div>
            {% endif %}
          </div>
          <div class="form-group col col-md-8 mb-4">
            <label for="inputPassword">密码：{{ obj.password }}</label>
            {% if obj.errors.password.0 %}
            <div class="alert alert-danger" role="alert">
              {{ obj.errors.password.0 }}
            </div>
            {% endif %}
          </div>
          <div class="form-group col col-md-8 mb-4">
            <label for="inputPassword2">确认密码：{{ obj.re_password }}</label>
            {% if obj.errors.re_password.0 %}
            <div class="alert alert-danger" role="alert">
              {{ obj.errors.re_password.0 }}
            </div>
            {% endif %}
          </div>
          <div class="form-group col col-md-6 mb-4">
            <label for="inputEmail">邮箱：{{ obj.email }}</label>
            {% if obj.errors.email.0 %}
            <div class="alert alert-danger" role="alert">
              {{ obj.errors.email.0 }}
            </div>
            {% endif %}
          </div>
          <div class="form-group col col-md-6 mb-4">
            <label for="inputMobile">联系方式：{{ obj.phone }}</label>
            {% if obj.errors.phone.0 %}
            <div class="alert alert-danger" role="alert">
              {{ obj.errors.phone.0 }}
            </div>
            {% endif %}
          </div>
          <div class="form-group col col-md-6 mb-4">
            <label for="inputName">真实姓名：{{ obj.name }}</label>
            {% if obj.errors.name.0 %}
            <div class="alert alert-danger" role="alert">
              {{ obj.errors.name.0 }}
            </div>
            {% endif %}
          </div>
          <div class="form-group col col-md-6 mb-4">
            <label for="inputStudentID">学号：{{ obj.school_num }}</label>
            {% if obj.errors.username.0 %}
            <div class="alert alert-danger" role="alert">
              {{ obj.errors.username.0 }}
            </div>
            {% endif %}
          </div>
          <div class="form-group col col-md-6 mb-4">
            <label for="inputSchool">校区：{{ obj.school }}</label>
          </div>
        </div>

        {% if messages %}
        <ul class="list-unstyled">
          {% for message in messages %}
          <li class="alert alert-{{ message.tags }} text-center my-3">{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}

        <button class="btn btn-lg btn-primary btn-block mt-4" type="submit">注册</button>
      </form>
    </div>
  </div>
</body>
{% endblock %}
