<!DOCTYPE html>

<html>

<head>

    <meta charset="UTF-8">
    
    <title>用户注册</title>

</head>

<body>

   <h3>用户注册</h3>
    <hr>

    <form action="/register/" method="POST" enctype="multipart/form-data">

      <table>
		
	<p>用户名：{{ obj.username }}</p>
	<p>密码：{{ obj.password }}</p>
	<p>再次输入密码：{{ obj.re_password }}</p>
	<p>邮箱：{{ obj.email }}</p>
	<p>校区：{{ obj.school }}</p>
	<p>学号：{{ obj.school_num }}</p>
	<p>真实姓名：{{ obj.name }}</p>
	<p>联系方式：{{ obj.phone }}</p>
        
    </table>

    <p>{{ message }}</p>

    <input type="submit" value="提交"> 

    </form>


</body>

</html>