{% extends 'homepage.html' %}
{% block title %}二手书交易平台 - 个人中心{% endblock %}
{% block style %}
<style>
  .portrait-cycle {
    border-radius: 100%;
  }
</style>
{% endblock %}

{% block sidebar %}
<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active btn btn-outline-primary" role="button" href="{% url 'personal_center' user.pk %}">
          个人主页<span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-outline-primary" role="button" href="{% url 'personal_info' user.pk %}">
          个人信息
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-outline-primary" role="button" href="{% url 'my_book' user.pk %}">
          我的图书
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-outline-primary" role="button" href="{% url 'trans_info' user.pk %}">
          交易记录
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-outline-primary" role="button" href="{% url 'my_comment' user.pk %}">
          留言查复
        </a>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block mainbody %}
<main role="main" class="col-md-10 ml-sm-auto px-2">
  <div class="row">
    <div class="col-md-2">
      <button class="btn btn-light dropdown-toggle" type="button" id="lg-portrait" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img src="{% static 'image/sample_portrait001.jpg' %}" class="portrait-cycle" width="80%">
      </button>
      <div class="dropdown-menu" aria-labelledby="portrait-menu">
        <a class="dropdown-item" href="#">更改密码</a>
        <a class="dropdown-item" href="#">退出登录</a>
      </div>
      <p class="text-center">用户名</p>
      <a class="btn btn-outline-success btn-block" role="button" href="{% url 'personal_info' user.pk %}">查看个人信息</a>
    </div>
    <div class="col">
      <h2 class="border-top mt-4 pt-2">我的图书</h2>
      <div class="row my-3">
	      {% for my_good in my_goods %}
        <div class="card col-md-3">
          <img src="{{ my_good.picture_1.url }}" class="card-img-top" alt="Book 1">
          <div class="card-body">
            <p class="card-text">{{ my_good.book.full_title }}</p>
            <p class="card-text">价格：{{ my_good.price }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
      <a class="btn btn-outline-primary" href="{% url 'my_book' user.pk %}">查看更多 &raquo;</a>

      <h2 class="border-top mt-4 pt-2">我的交易记录</h2>
      <table class="table text-center my-3">
        <thead class="thead-dark">
          <tr>
            <th scope="col">商品编号</th>
            <th scope="col" colspan="2">图书</th>
            <th scope="col">卖家</th>
            <th scope="col">买家</th>
            <th scope="col">价格</th>
            <th scope="col">交易时间</th>
          </tr>
        </thead>
        <tbody>
          {% for trans_record in trans_records %}
          <tr>
            <td><strong>1</strong></td>
            <td>
              <img src="{{ my_good.picture_1.url }}" width="80" alt="Book 1">
            </td>
            <td><strong>{{ trans_record.goods.full_title }}</strong></td>
            <td>{{ trans_record.seller.username }}</td>
            <td>{{ trans_record.customer.username }}</td>
            <td>{{ trans_record.price }}</td>
            <td>{{ trans_record.order_time }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <a class="btn btn-outline-primary" href="{% url 'trans_info' user.pk %}">显示更多 &raquo;</a>
    </div>
  </div>
</main>
{% endblock %}