<html>
<head>

    <meta charset="UTF-8">

    <title>个人中心</title>

</head>

<body>

    <div>

        <a href="{% url 'home' %}">

            <h3>主页</h3>

        </a>

    </div>

    <hr>
        
        <a href="{% url 'personal_info' user.pk%}">
          
          <p>个人信息</p>

        </a>

        <a href="{% url 'my_book' user.pk %}">
   
          <p>我的图书</p>

        </a>

        <a href="{% url 'trans_info' user.pk %}">   

          <p>交易记录</p>

        </a>

        <a href="{% url 'my_comment' user.pk %}">   

          <p>评论消息</p>

        </a>

	

		

</body>

</html>