<html>
<head>

    <meta charset="UTF-8">

    {% extends 'homepage.html' %}

    <title>评论</title>

</head>

<body>


    {% block base%}

    <hr>
	
	
	{% for my_comment in my_comments %}

        <p>来源：{{my_comment.from_id.username}} id:{{my_comment.from_id.pk}}</p>

	<p>评价商品：<a href="{% url 'good_detail' my_comment.good_id.pk %}">{{my_comment.good_id.book.full_title}}</a></p>

	<p>评论内容：{{my_comment.content}}
	        {% if my_comment.picture %}
                      [图]
		{% endif %}
        </p>
	
	<p>评论时间：{{my_comment.comment_time}}</p>

	<a href=/center/reply/{{ my_comment.pk }}>点此回复</a>

	{% empty %}

	<p>暂无评论</p>
	
	<hr>

	{% endfor%}
        
	{% endblock %}





</body>

</html>