{% extends 'my_comment.html' %}

{% block title %}二手书交易平台 - 回复留言{% endblock %}

{% block mainbody %}
<main role="main" class="col-md-10 ml-sm-auto px-2">
  <div class="row justify-content-center my-5">
    <div class="col col-md-8">
      <div class="card d-block">
        <a class="btn btn-lg btn-success mt-4 ml-3" role="button" href="{% url 'my_comment' user_id %}">返回</a>
        <p class="card-title text-center h3 mt-3 mb-5">您正在回复 {{ comment.from_id }} 的留言</p>
        <form class="mx-4" method="POST" action="{% url 'reply' comment.pk %}">
          <textarea class="form-control" type="text" name="reply" placeholder="在此输入您的回复"></textarea>
          <p class="mt-3">在此添加图片：
            <input class="form-control" type="file" name="pic">
          </p>
          <div class="row justify-content-center mt-4 mb-5">
            <input class="btn btn-lg btn-primary" role="button" type="submit" value="提交" />
          </div>          
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock %}
