<html>
<head>

    <meta charset="UTF-8">

    <title>我的图书</title>

</head>

<body>

    <div>

        <a href="{% url 'personal_center' user.pk %}">

            <h3>返回</h3>

        </a>

    </div>

    <hr>

	{% for my_good in my_goods %}

	<img src="{{ my_good.picture_1.url}}"  alt="" height="35%" width="18%">

	<p>书籍名称：
        
        <a href="{% url 'good_detail' my_good.book.pk%}">
          
             {{ my_good.book.full_title }}
        </a>
	</p>

	<p>书籍价格：{{my_good.price}}</p>

	<p>
		书籍状态：{{my_good.get_status_display}}

		<p>
			修改书籍状态：
			<a href="{% url 'del_good' my_good.pk %}" >删除记录</a>  
			<a href="{% url 'sell_good' my_good.pk %}">书籍卖出</a>
		</p>
		
	</p>

	<hr>
	    

	{% empty %}
	
	<p>{{user.username}},您暂无书本上架</p>

        {% endfor %}

	

		

</body>

</html>